<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Add Jeepney Route</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="submitRoute()">
    <ion-item>
      <ion-label position="floating">Origin</ion-label>
      <ion-input [(ngModel)]="route.origin" name="origin" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Destination</ion-label>
      <ion-input [(ngModel)]="route.destination" name="destination" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Jeepney Code</ion-label>
      <ion-input [(ngModel)]="route.code" name="code" required></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit">Submit Route</ion-button>
  </form>

  <div *ngIf="resultMsg">
    <ion-text color="success">
      <p>{{ resultMsg }}</p>
    </ion-text>
  </div>
</ion-content>
